{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 10000,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "**/*.scss",
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
